#Button1 > img {
    width: 130%;
}

.second > img {
    width: 3%;
    margin-left: 42px;
}

.second > img {
    width: 15%;
    margin-left: 42px;
}

.ItemContainer > p {
    color: #f57224;
    margin-left: 40px;
    margin-top: 10px;
}

.ItemContainer > p {
    float: right;
    margin-left: 40px;
    padding: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.ItemContainer > p {
    margin: 6px
}

.ItemContainer > p {
    margin: 6px
}

.ItemContainer > p {
    margin: 6px
}

.ImageContainer1 > img {
    width: 100%;
    margin-left: 2px;
}

.ImageContainer1 > img {
    width: 100%;
    margin-left: 2px;
}

.ImageContainer1 > img {
    width: 100%;
    margin-left: 2px;
}

.ImageContainer1 > img {
    width: 100%;
    margin-left: 2px;
}

.ImageContainer1 > img {
    width: 100%;
    margin-left: 2px;
}

.DarazMall > h {
}

.ImageContainer2 > img {
    width: 100%
}

.ImageBwImage > img {
    width: 100%;
    border: solid black 1px;
    padding: 5%;
}

.ImageContainer2 > img {
    width: 100%
}

.ImageBwImage > img {
    width: 100%;
    border: solid black 1px;
    padding: 5%;
}

.ImageContainer2 > img {
    width: 100%;
}

.ImageBwImage > img {
    width: 100%;
    border: solid black 1px;
    padding: 5%;
}

.ImageContainer2 > img {
    width: 100%
}

.ImageBwImage > img {
    width: 100%;
    border: solid black 1px;
    padding: 5%;
}

.ImageContainer2 > img {
    width: 100%
}

.ImageBwImage > img {
    width: 100%;
    border: solid black 1px;
    padding: 5%;
}

.ImageContainer2 > img {
    width: 100%
}

.ImageBwImage > img {
    width: 100%;
    border: solid black 1px;
    padding: 5%;
}

#List1 {
}

#Items1 {
    margin-left: 200px;
    color: orange;
}

#Items1 {
}

#Items1 {
}

#Items1 {
}

#Items1 {
}

#Items1 {
}

#Items1 {
}

#Items1 {
}

#Im1 {
}

#SearchBar {
}

#Button1 {
}

#carouselExampleControls {
}

#Button2 {
}

#Im2 {
}

#Button2 {
}

#Im2 {
}

#Button2 {
}

#Im2 {
}

#Button2 {
}

#Im2 {
}

#red1 {
}

#red1 {
}

#red1 {
}

#red1 {
}

#detail1 {
}

#red2 {
}

#detail3 {
}

#detail4 {
}

#detail1 {
}

#red2 {
}

#detail3 {
}

#detail4 {
}

#Hi {
    width: 100%;
    margin-left: 2px;
}

#detail1 {
}

#red2 {
}

#detail3 {
}

#detail4 {
}

#detail1 {
}

#red2 {
}

#detail3 {
}

#detail4 {
}

#detail1 {
}

#red2 {
}

#detail3 {
}

#detail4 {
}

#detail1 {
}

#red2 {
}

#detail3 {
}

#detail4 {
}

#form5Example21 {
}

.Top_Corner {
}

.Sticky {
}

.second {
}

.SlideShow {
    margin-top: 13px;
    margin-bottom: 0px;
}

.carousel-inner {
}

.carousel-item.active {
}

.d-block.w-100 {
    height: 395px;
}

.carousel-item {
}

.carousel-control-prev {
}

.carousel-control-prev-icon {
}

.sr-only {
}

.carousel-control-next {
}

.carousel-control-next-icon {
}

.Container_2 {
    justify-content: space-evenly;
}

.ItemContainer {
    display: flex;
    flex-direction: row;
    border-bottom: solid black 1px;
}

.ImageContainer1 {
}

.Rowmein {
}

.DarazMall {
    position: relative;
    margin-top: 200px;
}

.ItemContainer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ImageContainer2 {
    position: relative;
}

.ImageBwImage {
}

.bg-dark.text-center.text-white {
    margin-top: 200px;
}

.container.p-4 {
}

.mb-4 {
}

.btn.btn-outline-light.btn-floating.m-1 {
}

.fab.fa-facebook-f {
}

.fab.fa-twitter {
}

.fab.fa-google {
}

.fab.fa-instagram {
}

.fab.fa-linkedin-in {
}

.fab.fa-github {
}

. {
}

.row.d-flex.justify-content-center {
}

.col-auto {
}

.pt-2 {
}

.col-md-5.col-12 {
}

.form-outline.form-white.mb-4 {
}

.form-label {
}

.btn.btn-outline-light.mb-4 {
}

.row {
}

.col-lg-3.col-md-6.mb-4.mb-md-0 {
}

.text-uppercase {
}

.list-unstyled.mb-0 {
}

.text-white {
}

.text-center.p-3 {
    background-color: rgba(0, 0, 0, 0.2);
}